__pycache__/
*.pyc
.env
*.env
.venv/
venv/

.env.local
.env.*.local

# Java / Maven
target/
*.class

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Docker volumes
*.volume

# Build output
out/
bin/